
body {
    background-image: url(img/random_grey_variations_@2X.png);
    background-size: 170px;
    background-color: rgb(20,20,20);
    font-size: 1.7rem;
    font-family: Roboto;
    color: #D9D9D9;
}

.container {
    margin: 50px auto;
}

.navbar {
    box-shadow: 0px 0px 10px black;
}

.content {
    padding: 5px 10px 10px 20px;
    background-color: rgba(20,20,20,0.6);
    border-radius: 7px;
}

.tumblr-post {
    margin-left: 50px;
}

.navbar-brand {
    font-size: 2rem;
}

.panel {
    background-color: #353535;
    border-color: black;
}

.panel h3 {
    font-size: 1.8rem;
}

h3 span{
    float: right;
    font-size: 1.6rem;
}

.panel h3 .s{
    margin-left: 10px;
    color: #B3B3B3;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #426181;
    border-color: black;
    color: white;
}

.year {
    display: block;
    color: #6D6D6D;
    text-align: center;
    margin-bottom: 15px;
}